@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* Media screen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: #f6f5f7;
    color: #3E363F;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenedor{
    width: 80%;
    max-width: 850px;
    min-width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
}
#calculadora{
    background: white;
    width: 100%;
    padding: 2rem;
    text-align: center;

}
#detalle{
    background: #FF416C;
    width: 100%;
    padding: 2rem;
    text-align: center;
    color: #f6f5f7;
}
#detalle .contenido h1{
    margin-bottom: 1rem;
}
#detalle .contenido ul{
    list-style: none;
}
#detalle .contenido ul li{
    margin: 0.5rem; 
}
.contenido{
    /* Centrando el contenido de los divs */
    width: 100%;
    height: 100%;
}
input{
    width: 70%;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #ece8e8;
    outline: none;
    border-radius: 10px;
    transition: background-color 0.2s, border 0.2s, box-shadow 0.3s;
}
input:hover{
    background-color:transparent;
    border: 1px solid #FF416C;
    box-shadow: 0 0 10px #FF416C;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    appearance: none;
}
.item{
    margin: 0.8rem;
}
button{
    font-size: 15px;
    font-weight: bold;
    padding: 12px 45px;
    border-radius: 30px;
    background-color: #ff416c;
    border: 1px solid #ff416c;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: transform 20ms ease-in;
    margin-top: 20px;
}
button:active{
    transform: scale(0.95);
}
#error{
    color: red;
    font-weight: bold;
    display: none;
}
.resultado{
    color: #0A81D1;
    font-weight: bold;   margin: auto;
    font-size: 25px;
    margin-bottom: 5px;
    display: none;
}
@media only screen and (min-width: 700px){
    #contenedor {
        display: flex;
        flex-direction: row;
    }
}